.Fond
{
    margin-top:500px;
    padding:10px;
    text-align: center;
    background:linear-gradient(#12121900,#121219FF);
}

.inverseFond
{
    text-align: center;
    background:linear-gradient(#121219FF,#12121900);
}

.leftFond
{
    text-align: center;
    background:linear-gradient(to left, #121219FF,#12121900);
}



.reservation{

    margin:5%;
    width:90%;
    justify-content: center;
}


.title {
    color: white;
    font-family: Whisper;

    font-size: 32px;
}

.formulaire
{
    display:flex;
    margin:1%;

    width: auto;


    border-radius: 10px;
}

@media (max-width: 1025px) {
    .formulaire
    {
        display:block;
        margin:1%;
        gap:1%;
        width: auto;

    }
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
    }

}

@media (max-width: 426px) {
    .title {
        font-size: 18px;
    }

}


